*{
    margin:0;
    padding:0;
}
.logo{
    width: 20;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 33%;
    border: 3px solid white;
    border-radius: 10px;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top:0;
    cursor: pointer;
}
.nav-list{
width: 50%;
display: flex;
align-items: center;
}

.nav-list li{
    list-style: none;
    padding: 26px 30px;
}

.nav-list li a{
    text-decoration: none;
    color: white;
}

.nav-list li a:hover{
    text-decoration: none;
    color: grey;
}

.rightNav{
    width: 50%;
    text-align: right;
    padding: 0 23px;
}

#search{
    padding: 10px;
    font-size: 17px;
    border: 2px solid grey;
    border-radius: 9px;
}

.background{
    background: rgba(0, 0, 0, 0.7) url('../bg.jpg');
    background-size: cover;
    background-blend-mode: darken;
}

.firstsection{
    height: 100vh;
}

.box-main{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 50%;
    margin: auto;
    height: 70%;
}

.firsthalf{
    font-size: large;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btn{
    display: inline-block;
    padding: 8px 20px;
    margin: 8px 3px;
    border: 2px solid white;
    border-radius: 8px;
    background: none;
    color: white;
    cursor: pointer;
}

.btn-sm{
    padding: 7px 10px;
    vertical-align: middle;
}

.secondhalf {
    width: 30%;
}

.secondhalf img{
    width: 320px;
    height: 320px;
    border: 5px solid seashell;
    border-radius: 25%;
    display: block;
    margin: auto;
}

.text-big{
    font-size: 37px;
}

.text-small{
    font-size: 18px;
    padding: 5px;
}
.subhead{
    display: block;
}

.section{
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 80%;
    margin: auto;
}

.secleft{
    flex-direction: row-reverse;
}
.sectiontag{
    padding: 2px;
}

.contact{
    background-color: rgb(240, 240, 240);
    height: 34vh;
}
.text-center{
    text-align: center;
}
.form{
    max-width: 344px;
    margin: auto;
}
.form input{
    width: 100%;
    font-size: 19px;
    border: 2px solid grey;
    border-radius: 6px;
}